# 02-Pokemon

![](https://images.unsplash.com/photo-1471014706828-7f1b12e6d88b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80)
Picture by [David Grandmougin](https://unsplash.com/photos/Am1io6KusFM)

This will be an exercise about Pokemon statistics!

Begin by importing pandas and numpy:

In [27]:
# TODO: Import numpy and pandas with the right convention
### STRIP_START ###
import numpy as np
import pandas as pd
### STRIP_END ###

Now load the dataset in *Pokemon.csv*

In [28]:
# TODO: Import the dataset Pokemon.csv in pokemon
### STRIP_START ###
df = pd.read_csv('Pokemon.csv')
### STRIP_END ###

Display the first 10 lines

In [29]:
# TODO: Show the first 10 lines
### STRIP_START ###
df[:10]
### STRIP_END ###

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

Find and print the pokemon(s) with the lowest attack:

In [30]:
# TODO: What is the pokemon with the lowest attack?
### STRIP_START ###
print(df['Attack'].min())
### STRIP_END ###

5

Find and display the pokemon with the highest HP:

In [31]:
# TODO: What is the pokemon with the highest HP?
### STRIP_START ###
print(df['HP'].max())
### STRIP_END ###

255

Show the frequencies of type 1: for each value the number of occurrences:

In [32]:
# TODO: What are the frequencies of types in Type 1?
### STRIP_START ###
df['Type 1'].value_counts()
### STRIP_END ###

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Same for Type 2:

In [33]:
# TODO: What are the frequencies of types in Type 2?
### STRIP_START ###
df['Type 2'].value_counts()
### STRIP_END ###

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Ice         14
Water       14
Rock        14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

Find out and print the most frequent type (summing Type 1 and Type 2):

In [34]:
# TODO: What is the most frequent type? Summing Type 1 and Type 2
### STRIP_START ###
a = df['Type 1'].value_counts().sum()
b = df['Type 2'].value_counts().sum()
a, b
### STRIP_END ###

(800, 414)

Get the type 1 of pokemon with the highest attack on average:

In [35]:
# TODO: What is the Type 1 of pokemon with the highest attack on average? 
### STRIP_START ###
df[['Type 1','Attack']].max()
### STRIP_END ###

Type 1    Water
Attack      190
dtype: object

Get a new dataframe called *legendary* containing only the legendary pokemons:

In [43]:
# TODO: Get the legendary pokemons only
### STRIP_START ###
legendary = df['Legendary']
legendary
### STRIP_END ###

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
770    False
771    False
772    False
773    False
774    False
775    False
776    False
777    False
778    False
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789    False
790    False
791    False
792     True
793     True
794     True
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

Compute and display the sum of the mean statistics (HP, Attack, Defense, Sp. Atk, Sp. Def and Speed) of the legendary pokemons:

In [ ]:
# TODO: Compute the summed mean data of the legendary pokemons
### STRIP_START ###

### STRIP_END ###

Do the same for all the pokemons (not only the legendary ones)µ

In [ ]:
# TODO: Compute the summed data of all the pokemons
### STRIP_START ###

### STRIP_END ###

Are the legendary pokemons better?

Now make a new dataframe called *mega* containing only mega evolutions (with 'mega' in the name):

In [ ]:
# TODO: Extract the mega evolution pokemons only (with 'mega' in the name)
### STRIP_START ###

### STRIP_END ###

Drop the mega evolutions of generation 5 (it was not a good generation)

In [ ]:
# TODO: Drop the mega pokemons of generation 5
### STRIP_START ###

### STRIP_END ###

How many mega evolutions do you have?

In [ ]:
# TODO: print out the number of mega evolutions (without generation 5)
### STRIP_START ###

### STRIP_END ###