# 03 - Advanced Manipulations

![](https://images.unsplash.com/photo-1470639425574-19736d045ab7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)
Picture by [Fervent Jan](https://unsplash.com/photos/kKLEgX-Z_O4)

This optional exercise is sometimes beyond the lectures, so you might need google at some point.
First import pandas and numpy.

In [1]:
# TODO: import numpy and pandas
### STRIP_START ###
import numpy as np
import pandas as pd
### STRIP_END ###

Now let's make some more advanced manipulation on dataframes and series. Here we create two series *s1* and *s2*:

In [2]:
series1 = pd.Series(np.arange(10))
series2 = pd.Series(list('abcdefghij'))

Now concatenate those two series horizontally and display the result.

In [3]:
# TODO: concatenate the two series horizontally
### STRIP_START ###
pd.concat([series1, series2], axis=0)
### STRIP_END ###

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

Concatenate those two series *s1* and *s2* vertically and print the result.

In [4]:
# TODO: stack the two series vertically
### STRIP_START ###
pd.concat([series1, series2], axis=1)
### STRIP_END ###

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
5  5  f
6  6  g
7  7  h
8  8  i
9  9  j

Here are two more series *n1* and *n2*

In [7]:
n1 = pd.Series([1, 2, 3, 4, 5, 6, 7])
n2 = pd.Series([4, 5, 6, 7, 8, 9, 10])

Print the items in *n1* that are not present in *n2*.

Hint: you may need to use the *~* operator and the pandas function *isin()*

In [10]:
# TODO: print the items of n1 not present in n2
### STRIP_START ###
~(n1.isin(n2))
### STRIP_END ###

0     True
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

Now print the items that are not common to *n1* and *n2*.

Hint: you might need to use the numpy functions *intersect1d* and *union1d*

In [12]:
# TODO: print the items not common to both n1 and n2
### STRIP_START ###
np.intersect1d(n1,n2)
### STRIP_END ###

array([4, 5, 6, 7])

Here are two new series:

In [13]:
alphabet = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
indices = pd.Series([7,4,11,11,14])

Now print the letter of from the series *alphabet* using the values from *indices* as index.

In [16]:
# TODO: print the items from the series alphabet using the indices in the series index
### STRIP_START ###
print(pd.Index(alphabet))

### STRIP_END ###

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

Finally, we create a new random series *random_series*:

In [17]:
np.random.seed(0)
random_series = pd.Series(np.random.randint(1, 8, [20]))
random_series

0     5
1     6
2     1
3     4
4     4
5     4
6     2
7     4
8     6
9     3
10    5
11    7
12    1
13    1
14    5
15    3
16    2
17    7
18    7
19    1
dtype: int64

Find the two most frequent values in *random_series* and replace the other values by -1.
Print the result.

In [ ]:
# TODO: in the series random_series, find the two most frequent values
# and then replace all other values by -1, put the result in new_result
### STRIP_START ###
random_series
### STRIP_END ###